html{}
body{font-size: 25px;
    font-family: 'Roboto', sans-serif;
    }


.top-part1{background: url(images/top-banner.png);
          display: inline-block;
          float: left;
          background-repeat: no-repeat;
          width: 50%;}
.butt-1{background:red;
       color: white;
       border-radius: 5px;
       padding: 10px 20px;
       font-size:20px;
       font-family: arial;
       font-weight: 600;
       display: inline-block;}          
.top-part2{display: inline-block;
          float: right;
          width: 50%;
         }


.medile-part2{background: url(images/top-banner.png);
          display: inline-block;
          float: left;
          background-repeat: no-repeat;
          width: 50%;}
.butt-2{background:red;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-family: arial;
    font-size:20px;
    font-weight: 600;
    display: inline-block;}          
.medile-part1{display: inline-block;
               background: url(images/dream-bg.png);
               background-repeat: no-repeat;
              background-position: right;
                float: right;
                width: 50%;}


/* Last section */
.last-section{height: 500px;
              width: 1300px;
              background-color: rgba(127, 255, 212, 0.219);}

.cird1{display: inline-block;
       margin: 50px; 
       float: left;
       background-color: rgba(0, 0, 0, 0.25);
       width: 500px;
       height: 90%;
       border-left: 16px solid red;
       padding-left: 22px;}
.cird2{display: inline-block;
    margin: 50px;
    box-shadow: 5px 7px 0px 10px black;
    background-color: rgba(0, 0, 255, 0.294);
    width: 500px;
    height: 90%;
    border-left: 16px solid black;
    padding: 22px;}                         




