/*welcome and Dream big *********Start****/
.welcome-dream{height:1000px;
               width: 100%;
               padding-bottom: 100px;}

/*welcome section style*/
.welcome{background-image: url(images/top-banner.png);
         background-repeat: no-repeat;
         background-position: left;
         background-size: contain;
         height: 40%;
         width: 100%;
         margin-bottom: 17%;}

.wel-content{height: 100%;
             width: 40%;
             float: left;
             padding:40px 70px}
.wel-content .button-hireme{background:linear-gradient(45deg, lightsalmon, tomato);
                            text-decoration: none;
                            padding:15px 49px;
                            border-radius: 5px;
                            color: white;
                            font-weight: 800;}             
.wel-img{height: 100%;
         width: 40%;
         float:right;}
.wel-img img{width: 100%;}         
  
/*Dream big section style*/
.dream-big{height: 50%;
           width: 100%;
            padding-top: px;
            }
.dream-img{height: 100%;
           width: 45%;
           background-color: rgba(116, 32, 32, 0.516);
           float: left;}
.dream-content{height: 100%;
               width: 45%;
               background-color: rgba(13, 20, 74, 0.913);
               float: right;}
/*welcome and Dream big**********End*******/


/*******experiences*********/
.experiences{height: 600px;}
.experiences-headline{height:100px;
                     background-color: black;}
.exper-main-card{height: 500px;
                border: 2px solid red;}
.exper-main-card-1nd{width: 50%;
                     border: 2px solid black;
                     height: 100%;
                     float: left;}
 .exper-main-card-1nd-1{height: 90%;
                      width: 90%;
                      border: 5px dashed white;
                      margin: auto;}

.exper-main-card-2nd{width: 49%;
                     height: 100%;
                     border: 2px dashed yellow;
                     float: right;}   
.exper-main-card-2nd-1{height: 90%;
                      width: 90%;
                      border: 5px dashed white;
                      margin: auto;}  
/*******experiences*********/